@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Hudson Lima.<br />
    Setor de Tecnologia da Informação.<br />
    <abbr title="Ramal">Ramal: 9076</abbr>
</address>

<address>
    <strong>Suporte e dúvidas:</strong>   <a href="mailto:Support@example.com">ti@hvisao.com.br</a><br />
</address>